
// @import "./styles/global";
@import "./styles/variables";

.app-container {
  padding: 2rem;
  height: 100%;
  display: flex;
  gap: 0.75rem;
}

.inner-container {
  flex: 1;
  background: $primary-bg-color3;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  // &::-webkit-scrollbar{
  //   width: 0;
  // }
}

.header {
  padding: 1rem;
  text-align: center;
  // overflow: auto;
}