@import "../../styles/variables";

.budget-cards-outer-container {
    height: 100%;
}

.budget-cards-container {
    display: grid;
    grid-template-rows: 10% 15% 75%;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 1.5rem;
  
    width: 100%;
    transition: visibility 0.2s ease-out;
    height: 100%;
    padding: 1rem;
}

// budget filters by date

.budget-filter-by-date{
    grid-area: 2/1/3/2;
}

// budget filter list by close

.budget-filter-by-close {
    grid-area: 2/2/2/3;
    select{
        color: $primary-color2;
        background-color: $primary-bg-color;
        border: 1px solid $primary-color;
        border-radius: 20px;
        padding: 1rem;
        margin-top: 5px;
        font-family: inherit;
        font-size: inherit;
        outline: none
    }
}

// budget cards

.budget-cards{
    grid-area: 3/1/3/3;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 0;
    }
    
    margin: 1rem;
    border: 1px solid;
    border-radius: 20px;
    background-color: $primary-color2 !important;
    padding: 1rem;
}

.create-budget-card-button {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    width: 100%;
    vertical-align: middle;
    margin-right: 0;
    justify-content: flex-end;
    button {
        color: $primary-bg-color;
    }
}

.budget-item:hover{
    cursor: pointer;
    background-color: $primary-color !important;
    color: $primary-bg-color !important;
    h4{
        color: $primary-bg-color;
    }
    button{
        color: $primary-bg-color !important;
    }
}

.budget-item{
    background-color: $primary-bg-color2 !important;   
    color: $primary-color !important;
    border-radius: 20px !important;
    padding: 1rem !important;
    margin: 1rem !important;
    display: inline-block;
    width: 31%;
}