@import "../../styles/variables";

.budget-detail-container {
    display: grid;  
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 3fr 1fr 8fr 3fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.5rem;

    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: visibility 0.2s ease-out;

    button {
        color: $primary-color;
    }

    overflow: hidden;
}  

.budget-detail-header {
    grid-area: 1/2/1/4;
    vertical-align: middle;
}

.budget-detail-close-budget-box{
    grid-area: 2/2/2/4;
}

.budget-detail-other-box {
    padding: 8px;
    // background-color: $primary-bg-color2;
    color: $primary-color2;
    font-weight: bolder;
    border: 1px solid $primary-color2;
    border-radius: 0.5rem;
}

// budget

.budget {
    grid-area: 3/1/3/5;
    
    width: 100%;
    height: 100%;
    padding: 1rem 0;

    overflow: hidden;
    // background-color: #e0f2f1;

    // inner grid
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-column-gap: 1rem;
}

.budget-left-panel {
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.budget-right-panel {
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.budget-detail-map#expense {
    grid-area: 1/2/3/4;
    overflow-y: hidden;
}
.budget-detail-map#goals {
    grid-area: 2/1/2/2;
}

// budget-detail-inner-map-boxes 

.budget-detail-map-box {
    padding: 0.5rem;
    border: 1px solid $primary-color2;
    border-radius: 0.5rem;
    h3{
        padding-left: 0.5rem;
    }

    overflow-y: hidden;
}

.budgets-category-box {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.budgets-category-item {
    padding-top: 0.3rem;
    display: flex;
    justify-content: space-between;
    #map-percentage {
        font-size: small;
        color: $primary-color;
    }
    button{
        background-color: $primary-color2;
        color: $primary-bg-color;
    }
    button:hover {
        background: none;
        color: $primary-color2;
    }
}

.MuiLinearProgress-root {
    background: none !important;
}

.MuiLinearProgress-bar {
    background-color: $primary-color !important;
}


.budget-detail-savings {
    grid-area: 3/1/3/2;
    hr {
        margin: 1rem 0;
        background-color: $primary-color;
        text-align: center;
    }
}


.budget-detail-transactions {
    grid-area: 3/2/4/4;
    overflow-y: hidden;
}

.budget-detail-transactions-container {
    // width: 90%;
    display: block;
    padding: 1rem;
    background-color: $primary-bg-color2;

    color: $primary-color;
    // border: 1px solid $primary-color3;
    margin: 0 1rem;
    border-radius: 25px;
}

.budget-detail-transaction {
    padding: 1rem;
    color: $primary-bg-color;
    font-weight: bolder;

    background-color: $primary-color;
    border: 1px solid $primary-color3;
    margin: 1rem;
    border-radius: 25px;
}

.budget-detail-transaction-info {
    #secondary {
        font-size: smaller;
        color: $primary-bg-color2
    }
}


// needs review

.create-budget-button {
  float: right; 
  margin-right: 0;
}

.budget-dialog {
  width: 100%;
}

.budget-inner-container {
  width: 75%;
}

.budget-map-input-group {
  border-radius: 3px;
  padding: 13px;
  background-color: #e0f2f1;
}

.currency-wrap{
  position:relative;
}

.currency-code{
  font-size: 21px;
  color: #3e3e42;
  padding: 13px;
  position:absolute;
  margin: 2px 0px 5px 0px;
}

.budget-input-group {
  font-size: 20px;
}

.budget-input-box {
  border-radius: 3px;
  border: 1px solid #00897b;
  transition: border 0.4s ease-out;
  padding: 13px;
  margin: 2px 0px 5px 0px;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.budget-input-box:hover {
  border: 2px solid #00897b;
}

.budget-input-box:focus,
.budget-input-box:active {
  border: 2px solid #00897b;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.2);
}
.budget-input-box::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 15px;
  color: rgba(15, 15, 15, 0.4);
}

.budget-submit-btn {
  align-self: center;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #00897b;
  color: #00897b;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.budget-submit-btn:hover,
.budget-submit-btn:focus {
  background-color: #00897b;
  color: white;
}

.close-budget-submit-btn {
  align-self: center;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #d32f2f;
  color: #d32f2f;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.close-budget-submit-btn:hover,
.close-budget-submit-btn:focus {
  background-color: #d32f2f;
  color: white;
}