@import "../styles/variables";

// dialog box css

.dialog-container {
    width: 100%;
    color: $primary-color;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.dialog-header {
    background-color: $primary-bg-color;

    border: 1px solid $primary-color2;
    border-bottom: none;
}
.dialog-body {
    background-color: $primary-bg-color;

    border: 1px solid $primary-color2;
    border-bottom: none;
    border-top: none;
}
.dialog-footer {
    background-color: $primary-bg-color;

    border: 1px solid $primary-color2;
    border-top: none;
}


// dialog inputs and labels

.MuiFormLabel-root {
    color: $primary-color2 !important;
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 0.05rem !important;
    font-size: clamp(1rem, 1.5vw, 1rem) !important;
}

.MuiInputBase-root, .MuiInputBase-input, .MuiInputAdornment-root, .MuiTypography-root, #input-label {
    color: $primary-color2 !important;
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 0.05rem !important;
    font-size: clamp(1rem, 1.5vw, 1rem) !important;
    border-radius: 1rem !important;

    button {
        color: $primary-color2 !important;
    }
}

// dialog box date

.input-date {
    display: block;
    width: 300px !important;
}

.MuiPickersFadeTransitionGroup-root, .MuiPickersDay-root, .MuiDayCalendar-rootMuiDateCalendar-viewTransitionContainer, .MuiDayCalendar-weekDayLabel, .MuiPickersYear-root {
    background-color: $primary-bg-color2 !important;
    color: $primary-color2 !important;

    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 0.05rem !important;
    font-size: clamp(1rem, 1.5vw, 1rem) !important;

    border-radius: 1rem;
    button {
        font-family: 'Quicksand', sans-serif !important;
        letter-spacing: 0.05rem !important;
        font-size: clamp(1rem, 1.5vw, 1rem) !important;
    }
    .Mui-selected {
        background-color: $primary-color2 !important;
        color: $primary-bg-color2 !important;
        font-weight: bolder !important;
    }
    &::-webkit-scrollbar{
        width: 0;
    }
}

.PrivateSwitchBase-root, .MuiPickersArrowSwitcher-button {
    color: $primary-color2 !important;
}
  
.MuiPaper-root {
    background-color: $primary-bg-color2 !important;
    color: $primary-color2 !important;

    border: 1px solid $primary-color2;
    border-radius: 1rem !important;

}

// budget specific css

.budget-input-map-box{
    margin-bottom: 1rem !important;
}

.input-group-inner {
    padding: 1rem;
    color: $primary-bg-color !important;
    margin: 1rem;
    margin-bottom: 0;
    border: 1px solid $primary-color2;
    border-radius: 1rem;
    button {
        color: $primary-color3;
    }
}

// goal-specific css

.goal-budget-chips {
    display: flex;
    flex-wrap: wrap;
}

.goal-budget-chip {
    background-color: $primary-color2 !important;
    color: $primary-bg-color2 !important;
    margin: 2px !important;
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 0.05rem !important;
    font-size: clamp(0.5rem, 1vw, 1rem) !important;
    font-weight: bolder;
}


// buttons

.dialog-submit-btn {
    align-self: center;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid $primary-color2;
    color: $primary-color2;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}
.dialog-submit-btn:hover, .dialog-submit-btn:focus {
    background-color: $primary-color2;
    // color: $primary-bg-color2;
    color: white;
}

.close-dialog-submit-btn {
    align-self: center;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #d32f2f;
    color: #d32f2f;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}
.close-dialog-submit-btn:hover, .close-dialog-submit-btn:focus {
    background-color: #d32f2f;
    color: white;
}
  
  