.navbar-container {
  width: auto;
}

.navbar-item:hover {
  color: inherit;
}

.account-container {
  float: right;
}

.account-button {
  padding: 7px !important;
}

.account-menu {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-size: 0.875rem !important;
  letter-spacing: 0.02857em !important;
}

.account-menu:hover {
  color: inherit;
}
