@import "../../styles/variables";

.transactions-container {
  display: grid;
  grid-template-rows: 10% 10% 80%;
  // grid-template-columns: 0.75fr 1.25fr;
  grid-template-columns: 5fr 7fr;
  grid-column-gap: 1.5rem;

  width: 100%;
  transition: visibility 0.2s ease-out;
  height: 100%;
  padding: 1rem;
}

.transactions-filter-by-category {
  grid-area: 2/2/3/3;
}

.transactions-filter-by-date {
  grid-area: 2/1/3/2;
}

.transactions-chart {
  padding: 1rem;
  background-color: $primary-bg-color2;
  border: 1px solid $primary-color3;
  border-radius: 20px;
  // width: 100%;
  button {
    color: $primary-color2;
  }
}

.transactions-box {
  background-color: $primary-color2;
  border-radius: 20px;

  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 0;
  }
}

.transaction {
  padding: 1rem;
  background-color: $primary-bg-color2;

  color: $primary-color;
  border: 1px solid $primary-color3;
  margin: 1rem;
  border-radius: 25px;
  button {
    color: $primary-color;
  }
  li {    
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 0.05rem;
  }
}

.secondary-transaction-detail {
  font-size: smaller;
  color: $primary-color3
}

.transaction-create-button {
  margin: 0 1rem -1rem 0;
  display: flex;
  justify-content: end;
  padding: -1rem;
  button {
    color: $primary-bg-color;
  }
}


// datepicker css
.DateRangePickerInput {
  background: $primary-bg-color2;
  border-color: $primary-color2;
  border-radius: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

.DayPickerNavigation_button__default:focus, .DayPickerNavigation_button__default:hover {
  border: 1px solid $primary-color2;
}

.DayPickerNavigation_button__default:active {
  background: $primary-color2;
}

.DateRangePickerInput_arrow_svg, .DateInput_fangShape, .DateInput_fangStroke   {
  margin: 0.2rem;
  fill: $primary-color;
  stroke: none;
}

.DateInput, .DateInput_input, .DateInput_input__focused, #your_unique_start_date_id{
  background: $primary-bg-color2;
  border: none;
  color: $primary-color2;
  font-family: "Quicksand", sans-serif;
  font-size:medium;
}

.DateInput_screenReaderMessage {
  visibility: hidden;
}

.DateRangePicker_picker {
  border: 1px solid $primary-color2;
  border-radius: 1rem;
  background: $primary-bg-color;
}

.DayPicker , .CalendarMonthGrid, .DayPicker_transitionContainer, .CalendarMonth {
  border-radius: 1rem;
  background: $primary-bg-color;
}

.DayPickerNavigation_button__default {
  background: none;
  border: none;
}

.DayPickerNavigation_svg__horizontal  {
  fill: $primary-color;
}

.DayPickerNavigation_svg__horizontal:active {
  fill: $primary-bg-color2;
}

.CalendarMonth_caption {
  color: $primary-color2;
}

.DayPicker_weekHeader_li  {
  color: $primary-color2;
}

.CalendarDay__default {
  background: none;
  border: none;
  color: $primary-color2;
}

.CalendarDay__default:hover {
  color: $color-dark;
  border: none;
  background: $primary-color;
}

.CalendarDay__blocked_out_of_range {
  background: none;
  border: none;
  color: $primary-color3;
}

.CalendarDay__selected_span {
  background: $primary-color2; //background
  color: $color-dark;
  font-weight: bolder; //text
  // border: 1px solid lightcoral; //default styles include a border
}

// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background: $primary-color; //background
  color: $color-dark;
  font-weight: bolder; //text
}

// Will edit when hovered over. _span style also has this property
.CalendarDay__selected:hover {
  background: $primary-color;
  color: black;
}

// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: $primary-color2;
  color: $color-dark;
  font-weight: bolder; //text
}

.DayPickerKeyboardShortcuts_buttonReset {
  visibility: hidden;
}


// multiselect css

.multiselect-form {
  #demo-multiple-chip-label {
    color: $primary-color2;
    font-family: 'Quicksand', sans-serif !important;
    padding: 0 !important;
  }
  #demo-multiple-chip {
    padding: 0.7rem 0.7rem !important;
  }
}

#select-multiple-chip {
  border: 1px solid $primary-color2;
}

.MuiFormControl-root {
  // width: 70% !important;
  // margin: 0 !important;
  padding: 0 !important;
}

.MuiSelect-nativeInput {
  height: 0%;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $primary-color2 !important;
  border-width: 1px !important;
}

.ms-chip {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: bolder;
  background-color: $primary-color2 !important;
  color: $color-dark !important;
}



// charts
.transaction-chart-container {
  margin-top: 2rem;
}