$primary-color: rgba(45, 251, 134, 1);
$primary-color2: rgba(45, 251, 134, .6);
$primary-color3: rgba(45, 251, 134, .4);
$color-green: #42AD00;
$color-grey: #aaa;
$color-accent: #F56692;
$color-delete: #FF0000;
$primary-bg-color: rgba(0, 0, 0, 1);
$primary-bg-color2: rgba(1, 6, 6, 1);
$primary-bg-color3: rgba(1, 5, 5, 0.5);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.05rem;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    overflow: hidden;
    color: $primary-color2;
  }
  
  h1, h2, h3, h4, h5, h6{
    color: $primary-color;
  }
  
  .error{
    color: red;
    animation: shake 0.5s ease-in-out;
    @keyframes shake {
        0%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(10px);
        }
        50%{
            transform: translateX(-10px);
        }
        75%{
            transform: translateX(10px);
        }
        100%{
            transform: translateX(0);
        }
    }
  }