$primary-color: #2dfb86;
$primary-color2: rgba(45, 251, 134, .75);
$primary-color3: rgba(45, 251, 134, .4);
$color-dark: rgba(0, 5, 5, 1);
$color-green: #42AD00;
$color-grey: #aaa;
$color-accent: #8884d8;
$color-delete: #fe1616;
$primary-bg-color: rgba(0, 0, 0, 1);
$primary-bg-color2: rgba(1, 6, 6, 1);
$primary-bg-color3: rgba(1, 5, 5, 0.5);

